ellipsis()
 overflow:hidden
 white-space:nowrap
 text-overflow:ellipsis
titlebg()
  box-sizing: border-box
  width: 100%
  padding-left: 20px
  background: #0d6dff
  height: 54px
  line-height: 54px
  border: 1px solid #20a0ff
  border-radius: 8px
  font-size: 20px
  color: #fff
  margin-top:20px
container()
  box-sizing: border-box
  margin-top: 20px
  padding: 20px
  width: 100%
  background: #fff
  border-radius: 10px
containertitle()
  font-size:16px
  color:#00f
container_wrtitle()
  font-size: 14px
  font-weight: bold
  line-height: 40px
  border-bottom: 1px solid #ffc0cb
container_table()
  box-sizing: border-box
  margin-top: 20px
  width: 960px
  border-collapse: collapse
  border: 1px solid #fff
  word-wrap:break-word
  word-break:break-all

